# Basic data vis and analysis
opencv-python
ipdb
jupyterlab
matplotlib
numpy
pandas
seaborn

# Modeling
scikit-learn

# Google cloud
google-cloud-bigquery
google-cloud-storage


# Version of Tensorflow depending on your processor: darwin == Mac, ARM == M1
tensorflow-macos==2.10.0; sys_platform == 'darwin' and 'ARM' in platform_version # Mac M-chips
tensorflow==2.10.0; sys_platform == 'darwin' and 'ARM' not in platform_version # Mac Intel chips
tensorflow==2.10.0; sys_platform != 'darwin' # Windows & Ubuntu Intel chips
tensorflow_addons
# Maybe optional
# pathlib
# glob
# shutil
# os
